<div class="jumbotron" id="content">
  <h1>PnPAI</h1>

  <p>
    Plug and Play AI is building ready-made AI solutions that can be integrated into your application in Hours.
  </p>

  <p>
    Welcome to Plug and Play AI (PnPAI)! PnPAI was designed to enable an AI-rich, hassle-free solution for every company that has a need for it. The perturbations of AI that hinder a lot of companies from launching a highly competitive journey are being alleviated with a simple solution which allows them to do what they do best whilst PnPAI does the heavy lifting for them. At the end of the day, business stakeholders and clients just want to embrace the benefits that AI provides for them. They don’t know or need to know how complex algorithms are or how “cool” the code structure is.
    <a href="https://github.com/kamin3/pnpai-backend-offline-v2.git">
      https://github.com/kamin3/pnpai-backend-offline-v2.git
    </a>
  </p>
</div>
