<div class="jumbotron" id="content">
  <h1>
    Contact Kareem Amin
  </h1>
  <h6>
    <span class="d-block fw-medium text-truncate">Kareem AMin</span>
    <span class="d-block smaller fw-medium text-truncate"><a href="https://www.linkedin.com/in/kamin2/">kareem.amin@gmail.com </a></span>
  </h6>

  <p>
    The best way to contact this project is by
    <a href="https://github.com/kamin3/pnpai-backend-offline-v2.git" target="_blank">
      opening an issue
    </a> on the repository.
  </p>

</div>
