<footer class="footer">
  <hr>
  <div class="container">
    <span class="text-muted">
      &copy; {{currentYear}}

      <a href="https://www.linkedin.com/in/kamin2/">kareem amin </a>,
      <a href="https://www.linkedin.com/in/abdelrhman-saeed-4793921a0/">abdelrhman saeed </a>,
      <a href="http://www.linkedin.com/in/abdulrahman-usama-700/">abdulrahman Usama </a>,
        and contributors.
      <a href="https://github.com/kamin3/pnpai-backend-offline-v2.git">
        https://github.com/kamin3/pnpai-backend-offline-v2.git
      </a>
    </span>
  </div>
</footer>
